@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1651044478106') format('truetype');
}
/* 通过矢量字体实现箭头 */
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 左箭头 */
.icon-jiantou_xiangzuo_o:before {
  content: "\eb92";
}
/* 右箭头 */
.icon-jiantou_xiangyou_o:before {
  content: "\eb94";
}

